:root {
    /* colors */
    --background-color: rgb(45, 45, 45);
    --main-color: red;
    --orange: darkorange;

    --black: rgb(0, 0, 0);
    --white: rgb(230, 230, 230);
    --grey: #b1abab;

    --font-family: 'PT Sans', sans-serif;
    
    --section-lg-screen: 75%;
    --section-md-screen: 82%;
    --section-sm-screen: 90%;
}

* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--background-color);
    font-family: var(--font-family);
    background: linear-gradient(to bottom, black, rgb(47, 47, 47));
    height: 100vh;
    background-attachment: fixed;
}

.section {
    width: var(--section-sm-screen);
    margin: 1rem auto 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section-title {
    width: auto;
    text-align: left;
    color: var(--white);
}

.movie-poster,
.section--img_container {
    width: 120px;
    height: 180px;
    display:inline-block;
    margin-right:8px;
    border-radius: 5px;
    overflow: hidden;
}

.movie-poster img,
.section--img_container img {
    width: 100%;
    height: 100%;
}

.button {
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 0.8rem;
    color: var(--white);
    background: var(--orange);
    padding: 0.4rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: inset;
    transition: 300ms;
}

.button:hover {
    cursor: pointer;
    background: var(--white);
    color: var(--orange);
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-container {
    width: 120px;
    overflow: hidden;
}

.img-container img {
    width: 100%;
}

.back-btn {
    background: none;
    border: none;
    font-size: 2rem;
}

.back-btn i {
    color: var(--orange)
}

.inactive {
    display: none;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: grey; 
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: darkgray;
}

/* -------- HEADER SECTION --------- */
header {
    margin-bottom: 2rem;
}

.header--container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    height: 5rem;
    width: 100%;
    background: black;
}

.header--container .logo--container {
    font-family: 'Rancho', cursive;
    font-size: 1.4rem;
    color: red;
    text-align: center;
    cursor: pointer;
    margin-bottom: 1rem;
}


.search-box--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white);
    height: 2rem;
    width: 80%;
    max-width: 400px;
    border-radius: 500px;
    padding-left: 1rem;
    transition: 300ms;
}

.search-box--container:hover {
    background: white;
}

.search-box--container i {
    transition: 300ms;
}

.search-box--container i:hover {
    cursor: pointer;
}

.search-box--container #search-box {
    height: 1.5rem;
    width: 90%;
    border: none;
    background: none;
    padding-left: 0.5rem;
    font-family: var(--font-family);
}

.search-box--container .search-btn {
    padding-right: 0.5rem;
    cursor: pointer;
    border: none;
    background: none;
}

#search-box:focus {
    outline: none;
}

/* ---- MAIN SECTION -- HOME PAGE ---- */

.movie-poster__main {
    width: 200px;
    height: 300px;
    margin: auto;
}

.movie-poster__main img {
    width: 100%;
}

.movie-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 90%;
}
.movie-info__description {
    color: var(--white);
    font-size: 1rem;
}

.movie-info__votes,
.movie-info__genres {
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--white);
}

.votes-container i {
    color: var(--orange);
    font-size: 1rem;
}

/* ---- TRENDING MOVIES SECTION -- HOME PAGE ---- */
.home--poster-img,
.related-movies__container {
    overflow-x:scroll;
    overflow-y:hidden;
    white-space:nowrap;
    height: auto;
    padding-left:24px;
    padding-bottom:16px;
}

/* ---- GENRES SECTION -- HOME PAGE ---- */
.genres {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    place-items: center;
    gap: 1rem;
}

.genre {
    list-style: none;
    color: var(--grey);
    transition: 300ms;
}

.genre:hover {
    cursor: pointer;
    color: var(--background-color);
    background: var(--white);
}


/* ---- GENRES SECTION ---- */
.genre--img_container,
.search--img_container,
.trending--img_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    place-items: center;
    gap: 1rem;
}

.subsection-title {
    margin-top: -35px;
    margin-bottom: -5px;
    display: flex;
    align-items: center;
    color: var(--orange);
}

.subsection-title h3 {
    font-size: 1.5rem;
}

.subsection-title i {
    font-size: 2rem;
    transition: 300ms;
    border-radius: 200px;
}

.subsection-title i:hover {
    cursor: pointer;
    background-color: var(--black);
}

.movie-genres {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    margin-top: 20px;
}

.movie-genres span,
.genres span {
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 3px;
    padding: 5px
}

.subtitle {
    color: var(--orange);
    font-size: 1.2rem;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6rem;
    background: black;
    color: var(--white);

}

footer i {
    color: var(--orange);
}



/* ---- LOADING SKELETONS ---- */

.main-movie-img--loading {
    display: block;
    background: var(--grey);
    margin: auto;
    width: 200px;
    height: 300px;
    animation: loading-skeleton infinite 1.2s
}

.main-movie-decription--loading,
.detail-movie-decription--loading {
    display: inline;
    background: var(--grey);
    width: 85%;
    height: 20px;
    margin: auto;
    margin-top: 10px;
    border-radius: 3px;
    animation: loading-skeleton infinite 1.2s;
    animation-delay: .2s;
}

.main-movie-decription--loading:nth-child(2) {
    animation-delay: .4s;
}
.main-movie-decription--loading:nth-child(3) {
    animation-delay: .6s;
}
.main-movie-decription--loading:nth-child(4) {
    animation-delay: .8s;
}

.main-movie--votes-container--loading {
    width: 85%;
    margin: auto;
}

.main-movie-votes--loading {
    background: var(--grey);
    width: 50px;
    height: 18px;
    border-radius: 3px;
    margin-top: 30px;
    animation: loading-skeleton infinite 1.2s;
    animation-delay: 1s;
}


.home--poster-img__loading {
    display: inline-block;
    background: var(--grey);
    border-radius: 8px;
    height: 180px;
    min-height: 180px;
    max-height: 180px;
    width: 120px;
    min-width: 120px;
    max-width: 120px;
    margin-right: 5px;
    animation: loading-skeleton infinite 1.2s;
}

.home--poster-img__loading:nth-child(2) {
    animation-delay: .2s;
}
.home--poster-img__loading:nth-child(3) {
    animation-delay: .4s;
}
.home--poster-img__loading:nth-child(4) {
    animation-delay: .6s;
}
.home--poster-img__loading:nth-child(5) {
    animation-delay: .8s;
}
.home--poster-img__loading:nth-child(6) {
    animation-delay: 1s;
}

.home--poster-img__loading:nth-child(7) {
    animation-delay: 0s;
}
.home--poster-img__loading:nth-child(8) {
    animation-delay: .2s;
}
.home--poster-img__loading:nth-child(9) {
    animation-delay: .4s;
}
.home--poster-img__loading:nth-child(10) {
    animation-delay: .6s;
}
.home--poster-img__loading:nth-child(11) {
    animation-delay: .8s;
}
.home--poster-img__loading:nth-child(12) {
    animation-delay: 1s;
}

@keyframes loading-skeleton {
    0%, 100% {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
}




/*---- MEDIA QUERIES ----*/

@media screen and (min-width: 500px) {
    .movie-poster__main {
        width: 250px;
        height: 375px;
        margin: auto;
    }

    .main-movie-img--loading {
        width: 250px;
        height: 375px;
    }

    .header--container .logo--container {
        font-size: 2rem;
    }

    .search-box--container {
        height: 2rem;
        font-size: 1.6rem;
    }

    .search-box--container i {
        font-size: 1.2rem;
    }

    .search-box--container #search-box {
        height: 1.8rem;
        font-size: 1.2rem;
    }

    .movie-info__description {
        font-size: 1.2rem;
    }
    .movie-info__votes {
        font-size: 1.2rem;
    }

    .votes-container i {
        font-size: 1.3rem;
    }

    .section-title {
        font-size: 1.6rem;
    }

    .button {
        font-size: 1rem;
    }

    .movie-poster,
    .section--img_container {
        width: 140px;
        height: 210px;
        cursor: pointer;
    }

    .home--poster-img__loading {
        height: 210px;
        min-height: 210px;
        max-height: 210px;
        width: 140px;
        min-width: 140px;
        max-width: 140px;
    }

    .genre--img_container,
    .search--img_container,
    .trending--img_container {
        gap: 1.8rem;
    }
}

@media screen and (min-width: 700px) {
    .movie-poster__main {
        width: 300px;
        height: 450px;
        margin: auto;
    }

    .main-movie-img--loading {
        width: 300px;
        height: 450px;
    }
}

@media screen and (min-width: 800px) {
    .section {
        width: var(--section-md-screen);
    }

    .main,
    .movie-detail__info-container {
        width: var(--section-lg-screen);
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        margin: auto
    }

    .header--container .logo--container {
        font-size: 2.2rem;
    }

    .search-box--container {
        height: 2.4rem;
        font-size: 1.8rem;
    }

    .search-box--container i {
        font-size: 1.3rem;
    }

    .search-box--container #search-box {
        height: 2rem;
        font-size: 1.3rem;
    }

    .section-title {
        font-size: 1.7rem;
    }

    .button {
        font-size: 1.1rem;
    }

    .movie-poster,
    .section--img_container {
        width: 150px;
        height: 225px;
    }

    .home--poster-img__loading {
        height: 225px;
        min-height: 225px;
        max-height: 225px;
        width: 150px;
        min-width: 150px;
        max-width: 150px;
    }

    .genre--img_container,
    .search--img_container,
    .trending--img_container {
        gap: 2.4rem;
    }
}

@media screen and (min-width: 1400px) {
    .movie-poster__main {
        width: 400px;
        height: 600px;
        margin: auto;
    }

    .main-movie-img--loading {
        width: 400px;
        height: 600px;
    }

    .movie-info__description {
        font-size: 1.3rem;
    }
    .movie-info__votes {
        font-size: 1.3rem;
    }

    .votes-container i {
        font-size: 1.4rem;
    }

    .genre--img_container,
    .search--img_container,
    .trending--img_container {
        gap: 2.8rem;
    }
}