:root {
    /* colors */
    --background-color: rgb(45, 45, 45);
    --main-color: red;
    --orange: darkorange;

    --black: rgb(0, 0, 0);
    --white: rgb(230, 230, 230);
    --grey: #b1abab;

    --font-family: 'PT Sans', sans-serif;
    
    --section-lg-screen: 75%;
    --section-md-screen: 82%;
    --section-sm-screen: 90%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--background-color);
    font-family: var(--font-family);
}

.section {
    width: var(--section-sm-screen);
    margin: 1rem auto 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section-title {
    width: auto;
    text-align: left;
    color: var(--white);
}

.movie-poster {
    width: 120px;
    display:inline-block;
    margin-right:8px;
    border-radius: 5px;
    overflow: hidden;
}

.movie-poster img {
    width: 100%;
}

.button {
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 0.8rem;
    color: var(--white);
    background: var(--orange);
    padding: 0.4rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: inset;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-container {
    width: 120px;
}

.img-container img {
    width: 100%;
}

.back-btn {
    background: none;
    border: none;
    font-size: 2rem;
}

.back-btn i {
    color: var(--orange)
}

.inactive {
    display: none;
}

/* -------- HEADER SECTION --------- */
.header--container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    height: 5rem;
    width: 100vw;
    background: black;
}

.header--container .logo--container {
    width: 7rem;
}

.header--container .logo--container img {
    width: 100%;
}

.search-box--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white);
    height: 2rem;
    width: 80%;
    border-radius: 500px;
    padding-left: 1rem;
}

.search-box--container #search-box {
    height: 1.5rem;
    width: 200px;
    border: none;
    background: var(--white);
    padding-left: 0.5rem;
    font-family: var(--font-family);
}

.search-box--container .search-icon {
    padding-right: 0.5rem;
    cursor: pointer;
}

/* ---- MAIN SECTION -- HOME PAGE ---- */

.movie-poster__main {
    width: 70%;
    max-width: 400px;
    margin: auto;
}

.movie-poster__main img {
    width: 100%;
}

.movie-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.movie-info__description {
    color: var(--white);
    font-size: 1rem;
}

.movie-info__votes,
.movie-info__genres {
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--white);
}

.votes-container i {
    color: var(--orange);
    font-size: 1rem;
}

/* ---- TRENDING MOVIES SECTION -- HOME PAGE ---- */
.trending-movies {
    overflow-x:scroll;
    overflow-y:hidden;
    white-space:nowrap;
    height: auto;
    padding-left:24px;
    padding-bottom:16px
}

/* ---- GENRES SECTION -- HOME PAGE ---- */
.genres {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

.genre {
    list-style: none;
    color: var(--grey);
}


/* ---- GENRES SECTION ---- */
.section--img_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    place-items: center;
    gap: 1rem;
}

.genre--section_title {
    margin-top: -35px;
    margin-bottom: -5px;
    display: flex;
    align-items: center;
    color: var(--orange);
}

.genre--section_title h3 {
    font-size: 2rem;
}

.genre--section_title i {
    font-size: 2rem;
}